<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actors</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
  </head>

  <body>

    <ul class="breadcrumbs">
      <li><a href="/movies">Movies By Title</a></li>
      <li><a href="/movies?order=year">Movies By Year</a></li>
      <li><a href="/movies?order=rating">Movies By Rating</a></li>
      <li><a href="/movies?order=genre">Movies By Genre</a></li>
      <li><a href="/movies?order=studio">Movies By Studio</a></li>
      <li><a href="/actors">Actors</a></li>
      <li><a href="/actors?page=<%= params[:page].to_i - 1 %>">Previous Page</a></li>
      <li><a href="/actors?page=<%= params[:page].to_i + 1 %>">Next Page</a></li>
    </ul>

    <div class="row">

      <div class="small-6 large-centered columns">

        <h1>Actors</h1>

        <form>
          <fieldset>
            <legend>Find an Actor</legend>
              <input type="text" name="query" placeholder="Enter search term">
            </label>
          </fieldset>
        </form>

        <table>
          <thead>
            <tr>
              <th width="200">Names</th>
            </tr>
          </thead>

          <tbody>
            <% actors.each do |actor| %>
              <tr>
                <td><a href="/actors/<%= actor['id'] %>"><%= actor['name'] %></a></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

  </body>
</html>
